### Test server / testing environment
/test/
/Sources/API/logs/
/Sources/API/connection.yml

### Java/Maven/Gradle
target/
build/
*.class
*.jar
*.war
*.ear
hs_err_pid*

### IntelliJ
*.iml
/out/
.idea/
.idea_modules/

### Eclipse
.settings/
*.classpath
*.project

### Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

### Keep included libraries
!Libraries/*

### Keep gradle wrapper
!gradle/wrapper/*